body {
  background: #000;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 8px solid yellow;
}

h1 {
  color: yellow;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.player-board, .cpu-board {
  border: 5px solid yellow;
  min-width: 500px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: cyan;
}

.enemy-wrapper {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
  min-height: 500px;
  align-self: center;
}

.enemy-img {
  width: 200px;
  height: 200px;
  border: 5px solid yellow;
  border-radius: 50px;
}
.enemy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 5px solid yellow;
  color: cyan;
}

.cpu-cell,.player-cell {
  border: 1px dotted cyan;
  height: 10%;
  width: 10%;
  background: black;
}

.cpu-cell:hover,.player-cell:hover {
  border: 3px dotted cyan;
  border-radius: 5%;
  transform: scale(1.1);
}

.player-ship {
  border: 1px dotted cyan;
  height: 10%;
  width: 10%;
  background: grey;
}
