body {
  background-image: url(../images/space.png);
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.player-board, .cpu-board {
  box-shadow: 0 0 20px 10px #ffe918;
  min-width: 500px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.enemy-wrapper {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
  min-height: 500px;
  align-self: center;
}

.enemy-img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  background-image: url(../images/vader.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.enemy-text {
  max-width: 350px;
  height: 200px;
  color: #15effe;
  font-family: sans-serif;
}

.new-game {
  padding: 15px;
  max-width: 350px;
  height: 50px;
  color: #15effe;
  font-family: sans-serif;
  border: 2px solid #15effe;
  box-shadow: 0 0 30px cyan;
}

.new-game:hover {
  color: #109ca6;
  border: 2px solid #109ca6;
  cursor: pointer;
}

.cpu-cell,.player-cell {
  border: 1px dotted #15effe;
  height: 10%;
  width: 10%;
  background: transparent;
}

.cpu-cell:hover,.player-cell:hover,.ship:hover,.enemy-ship:hover {
  border: 3px dotted #15effe;
  border-radius: 5%;
  transform: scale(1.1);
  cursor: crosshair;
}

.ship {
  border: 1px dotted #15effe;
  height: 10%;
  width: 10%;
  background: grey;
}

.enemy-ship {
  border: 1px dotted #15effe;
  height: 10%;
  width: 10%;
  background: black;
}

.enemy-hit {
  border: 1px dotted black;
  height: 10%;
  width: 10%;
  background-image: url(../images/rebel-hit.png);
  background-size: cover;
  border: 1px dotted #15effe;
}
.player-hit {
  border: 1px dotted black;
  height: 10%;
  width: 10%;
  background-image: url(../images/empire-hit.png);
  background-size: cover;
  border: 1px dotted #15effe;
}

.enemy-miss {
  border: 1px dotted black;
  height: 10%;
  width: 10%;
  background-image: url(../images/rebel-miss.png);
  background-size: cover;
  border: 1px dotted #15effe;
}

.player-miss {
  border: 1px dotted black;
  height: 10%;
  width: 10%;
  background-image: url(../images/empire-miss.png);
  background-size: cover;
  border: 1px dotted #15effe;
}
